

<div id="myCarousel" class="carousel slide container" data-bs-ride="carousel">
    <div class="carousel-inner w-100">
        <div class="carousel-item active">
            <div class="col-md-3">
                <div class="card card-body" onclick="openModal(this)">
                    <div  style="overflow:hidden;object-fit:contain;width:10rem;">
                        <img class="img-fluid" src="/static/images/4.png" style="overflow:hidden;object-fit:contain;">
                    </div>
                    
                    <div  class="cardTitle" title="Organic">
                        Organic waste
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="col-md-3">
                <div class="card card-body" onclick="openModal(this)">
                    <div style="overflow:hidden;object-fit:contain;width:10rem;" class="cardImageContainer">
                    <img class="img-fluid" src="/static/images/5.png" style="overflow:hidden;object-fit:contain;">
                    </div>
                    <div  class="cardTitle" title="E-waste">
                        Electronic waste
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="col-md-3">
                <div class="card card-body" onclick="openModal(this)">
                    <div style="overflow:hidden;object-fit:contain;width:10rem;" class="cardImageContainer">
                    <img class="img-fluid" src="/static/images/6.png" style="overflow:hidden;object-fit:contain;">
                    </div>
                    <div  class="cardTitle" title="Battery">
                        Batteries
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="col-md-3">
                <div class="card card-body" onclick="openModal(this)">
                    <div style="overflow:hidden;object-fit:contain;width:10rem;" class="cardImageContainer">
                    <img class="img-fluid" src="/static/images/7.png" style="overflow:hidden;object-fit:contain;">
                    </div>
                    <div  class="cardTitle" title="Clothes">
                        Clothes
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="col-md-3">
                <div class="card card-body" onclick="openModal(this)">
                    <div style="overflow:hidden;object-fit:contain;width:10rem;" class="cardImageContainer">
                    <img class="img-fluid" src="/static/images/9.png" style="overflow:hidden;object-fit:contain;">
                    </div>
                    <div  class="cardTitle" title="Glass">
                        Glass
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="col-md-3">
                <div class="card card-body" onclick="openModal(this)">
                    <div style="overflow:hidden;object-fit:contain;width:10rem;" class="cardImageContainer">
                    <img class="img-fluid" src="/static/images/10.png" style="overflow:hidden;object-fit:contain;">
                    </div>
                    <div  class="cardTitle" title="Medical">
                        Medical waste
                    </div>
                </div>
            </div>
        </div>
       
        
    </div>
    <button class="carousel-control-prev"  type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next"  type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
